akregatorrc
arkrc
autostart
autostart-scripts
baloofileinformationrc
baloofilerc
bilibili
bluedevilglobalrc
byobu
clash.bak
clash_win
Code - OSS
dconf
device_automounter_kcmrc
dolphinrc
Electron
elisarc
emaildefaults
falkon
fastfetch
fish
fontconfig
google-chrome
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
icalingua
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kate
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kde.org
kdeconnect
kded5rc
kded_device_automounterrc
kdedefaults
kdeglobals
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kioslaverc
klaunchrc
kmenueditrc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ksysguardrc
ktimezonedrc
Kvantum
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
manjaro
manjaro-hello.json
matray
mimeapps.list
mpv
netease-cloud-music
okularpartrc
onlyoffice
pamac
partitionmanagerrc
picom
plank
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace
plasmanotifyrc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse
QtProject.conf
qtvirtualkeyboard
session
sogoupinyin
spectaclerc
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
V2Ray-Desktop
V2rayXPlus
variety
vlc
xsettingsd
yay
